registry=https://registry.npmjs.org/
sass_binary_site=https://github.com/sass/node-sass/releases/download/
phantomjs_cdnurl=https://github.com/Medium/phantomjs/releases/download/
electron_mirror=https://github.com/electron/electron/releases/download/